snippet author "author" b 
# -*- coding: utf-8 -*-
# Copyright 2016 Tencent
# Author: Joe Lei <joelei@tencent.com>
endsnippet

snippet author-t "author tencent" b
# coding=utf-8
# Copyright 2016 Tencent
# Author: Joe Lei <joelei@tencent.com>
endsnippet
